@{
    ViewData["Title"] = "Доступ запрещён";
}

<h2>Доступ заборонено</h2>

<p>У вас недостатньо прав для доступу до сторінки</p>
<a asp-action="Login" asp-controller="Account" class="btn btn-secondary">Повернутися до входу</a>
