@{
    ViewData["Title"] = "Регистрация";
}

<h2>Реєстрація</h2>

<form asp-action="Register" method="post">
    <div>
        <label>Ім'я користувача':</label>
        <input type="text" name="username" class="form-control" required />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <div>
        <label>Роль:</label>
        <select name="role" class="form-control">
            <option value="Admin">Адміністратор</option>
            <option value="SalesManager">Менеджер продаж</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Зареєструватися</button>
</form>
